.container-login {
    width: 100%;
    max-width: 400px;    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 209, 209, 0.158);
    }

#img-radius-userLogin{
    transition: all .3s;
}

#img-radius-userLogin:hover {
    box-shadow: inset 0 0 8px #dedede;
}

.container-login h1 {
    color: var(--color-light);
    font-size: 2.5rem;
}

.container-login h1, a {
    background: none;
}

.container-login p {
    font-size: 1rem;
    color: #cacaca;
}

input {
    color: #fff;
    width: auto;
    height: 44px;
    border-radius: .2rem;
    background-color: rgba(255, 255, 255, 0.158);
}

input:focus {
    box-shadow: 0 0 0.150rem#fff;
}

input::placeholder {
    color: #cacaca;
}

#btn {
    text-decoration: none;
    padding: 6px 0;
    color: #fff;
    background-color: dodgerblue!important;
    border-radius: .3rem;
    transition: all .3s;
}

#btn:hover {
    background-color: rgba(30, 143, 255, 0.8)!important;
}

/* responsive interface */
@media (max-width: 768px){
    .container-login h1 {
        font-size: 2.8rem;
    }
}