.container-editUsers {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-editUser {
    width: 100%;
}

#back:hover {
    background-color: transparent!important;
}

.card-table {
    width: 100%;
    max-width: auto; /*  Bootstrap5 .container class*/
    height: 80vh;
    overflow-y: auto;
    font-size: 1.1rem!important;
}

/* icon (thead) */
#addUser {
    display: flex;
    justify-content: end;
}

/* colors style */
#addUser-style {
    background-color: #20fb91;
    color: #00954f;
}

#addUser-style:hover {
    background-color: #00bf60;    
    color: #fefefe;
}

.editUser {
    background-color: #2f97ff;
    color: #19458f;
}

.editUser:hover {
    background-color: #1b79f5;
    color: #fefefe;

}

.deleteUser {
    background-color: #ff2d42;
    color: #4d020a;
}

.deleteUser:hover {
    background-color: #ce071b;
    color: #fefefe;
}

#addUser-style, .editUser, .deleteUser {
    transition: all .2s;
    font-size: .9rem;
}

.td-buttons {
    display: flex;
    justify-content: end;
}


/* modals */
#form-addUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dialogTitle, .dialogContent {
    font-family: Poppins;
}

.modal-userDetails {
    color: #2f97ff;
    font-weight: bold;
}

.img-radius {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #cacaca;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.img-radius i {
    color: #fefefe;
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-radius:hover {
    background-color: #2f97ff;
}

/* get request */
.img-user {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
}

#input-file {
    background-color: #2f97ff!important;
    color: orange!important;
}

.modal-userDetails input {
    color: #121212;
}

.container-btn-modal {
    display: flex;
    justify-content: flex-end;
}
.modal-btn-save, .modal-btn-close {
    transition: all .3s!important;
}
.modal-btn-save {
    background-color: #00b505;
    color: #fefefe!important;
    font-weight: bold;
}
.modal-btn-save:hover {
    background-color: #049109!important;    
}

.modal-btn-close {
    background-color: #ff2d42!important;
    color: #fefefe!important;
    font-weight: bold;
}
.modal-btn-close:hover {    
    background-color: #c80d20!important;
}

/* delete modal */
#p-delete {
    font-family: poppins;
}

#modal-btn-save-delete {
    background-color: #2f97ff;
}

#modal-btn-save-delete:hover {
    background-color: #1b79f5!important;
}

.modal-btn-delete {
    background-color: transparent;
    border: 2px solid #ff2d42!important;
    transition: all .3s;
    color: #ff2d42!important;
    font-weight: bold;
}

.modal-btn-delete:hover {
    border: 2px solid #c80d20!important;
    color: #c80d20!important;
}

/* loading data customization (for editarCursos too) */
.container-loadingData {
    display: flex;
    position: absolute;
    height: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-loadingData .loadingData {
    font-size: 2rem;
    font-weight: bold;
    color: #2F97FF;
}

iframe {
    width: 70%;
    height: 70%;
    mix-blend-mode: multiply; /* remove bg */
}

.fa-circle-exclamation {
    font-size: 4rem!important;
}

/* .container-loadingData .loadingData {

} */

/* responsive design */
@media (max-width: 768px){
    .card {
        overflow-x: auto;
    }
}